img#delete {
	width: 20px;
	height: 20px;
}

img#edit {
	width: 30px;
	height: 30px;
}

img#add {
	width: 20px;
	height: 20px;
}

img#save {
	width: 20px;
	height: 20px;
}

td.edit_link {
	width: 40px;
}

td.delete_link {
	width: 40px;
}

textarea#new_key {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

table#key_table {
	width: 100%;
}

td.id {
	display:none;
}

td.comment {
	width: 10%;
}

td.key {
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap; /* HP printers */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
	word-break: break-all;
}
