{% extends "base.html" %}
{% load i18n %}
{% block head_block %}
		<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock head_block %}

{% block body_block %}
{% if form.errors %}
<div class="errors">
	<p>Error while submitting form</p>
</div>
<br>
{% endif %}

<form action="" method="post">
	<fieldset>
		{% csrf_token %}
		<legend>{% trans "Sign Up" %}</legend>
		<table>
		{{ form.as_table }}
		</table>
		<br/>
		<div class="g-recaptcha" data-sitekey="{{GOOGLE_RECAPTCHA_SITE_KEY}}"></div>
		<br/>
		<p><input type="submit" name="bsignup'" value="{% trans "Sign up" %}"> </p>
	</fieldset>
</form>

{% endblock body_block %}
